<div class="main">
	<div class="hidden">
		<input type="checkbox" class="checkbox" id="click" name="admin_login" hidden="hidden">	
		<form class="form-login" method="post" action="">
			<h2 class="mb-3">{{login_text_heder}}</h2>
			<div class="form-group mb-3">
				<input class="form-control" type="text" name="login" [(ngModel)]="login_name" [ngModelOptions]="{standalone:
   true}"  placeholder="Login">
			</div>
			<div class="form-group mb-3">
				<input class="form-control" type="password" name="password" [(ngModel)]="login_pass" [ngModelOptions]="{standalone:
   true}" placeholder="password">
			</div>
			<div class="last-div">
				<label for="click">
					<div class="text-warning border border-warning">Zarejestruj się</div>
				</label>
				<button class="text-success border border-success" (click)="login()">Zaloguj się</button>
			</div>
		</form>
		<form class="rejest-login">
			<h2 class="mb-3">{{rejest_text_heder}}</h2>
			<form class="form-login" method="post" action="">
				<div class="form-group mb-3">
					<input class="form-control" type="text" name="login" [(ngModel)]="login_name"  placeholder="Login">
				</div>
				<div class="form-group mb-3">
					<input class="form-control" type="password" name="password" [(ngModel)]="login_pass" placeholder="password">
				</div>
				<div class="form-group mb-3">
					<p>Czy jesteś adminem ?</p>
					<label>Yes</label>
					<input type="checkbox"  [checked]="isAdmin" (change)="isAdmin = !isAdmin">
					<label>No</label>
				</div>
				<div class="last-div">
					<button class="text-success border border-success" (click)="rejest()">Zarejestruj się</button>
				</div>
				<label class="labels-click" for="click">
					<div class="x-btn text-danger">&#10005;</div>
				</label>
			</form>
		</form>
		<p class="text-danger" style="clear: both;">{{alerts}}</p>
	</div>
</div>