<div class="modal-dialog-wrapper">
	<h2 mat-dialog-title>Dodaj auto</h2>
	<mat-dialog-content>
		<app-modal-form-cars #FormComponen></app-modal-form-cars>
	</mat-dialog-content>
	<mat-dialog-actions>
		<div class="button-wrapper">
			<button mat-raised-buttom 
			[disabled]="formModalComponen.getGenetatedForm().invalid"
			class="btn btn-outline-primary">Dodaj auto</button>
			<button 
			mat-raised-buttom 
			mat-dialog-close 
			class="btn btn-outline-danger">Anuluj</button>
		</div>
	</mat-dialog-actions>
</div>	
