<div class="modal-dialog-wrapper">
	<h2 mat-dialog-title>Dodaj auto </h2>
	<mat-dialog-content>
		<div>
		<p [hidden]="!error" class="col-12 text-danger">Błąd w połączeniu z bazą danych</p>
		<app-modal-form-cars 
			[hidden]="error" 
			(outputMesse)="handleError($event)" 
			#FormComponen>	
		</app-modal-form-cars>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions>
		<div class="button-wrapper">
			<button mat-raised-buttom 
			[disabled]="error || formModalComponen.getGenetatedForm().invalid"
			class="btn btn-outline-primary" (click)="addCar()">Dodaj auto</button>
			<button 
			mat-raised-buttom 
			mat-dialog-close 
			class="btn btn-outline-danger">Anuluj</button>
		</div>
	</mat-dialog-actions>
</div>	
