<div class="container">
	<h2 class="text-center text-white pt-5 mb-3">{{h1_banner}}</h2>
	<div class="row">
		<p>{{cars.length}}</p>
		<div class="wrapper-for-cars" *ngIf="cars.length > 0;else emptyCars">
			<div class="col-12 col-md-4 mb-3 mt-3" *ngFor="let car of cars;let i = index">
				<div class="card">
				  <img class="card-img-top p-2" src="http://www.hyundai-sim.ru/media/img/service-pages/cars/car-image--ix35.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">{{car.name}}</h5>
				    <p class="card-text">Typ pojazdu: {{car.type}}</p>
				    <p class="card-text">Koszt wynajmu: {{car.price}} zł</p>
				    <p class="card-text">Status: <span class="text-danger">nie wynajęty</span></p>
				    <a href="#" class="btn btn-outline-success float-right" (click)="showMenu($event)">Wynajmij</a>
				  </div>
				</div>
			</div>
		</div>
		<ng-template #emptyCars>
			<div class="col-12 mb-3 mt-3">
				<p class="text-center text-white empty-car">Brak samochodów do wyświetlenia</p>
			</div>
		</ng-template>	
		<div class="button-plus" (click)="showMenuForAdd()">
			<span class="plus-button">+</span>
		</div>
	</div>
</div>
