.container-fluid {
	background: rgba(69,74,76,.6);
}
.card {
	background: transparent;
	color:#fff;
	cursor: pointer;
	letter-spacing: 2px;
	border: none;
	outline: none;
	transition: all .4s ease-in-out;;
}
.card:hover {
	transform: scale(1.1);
}
.button-plus {
	width: 40px;
	height: 40px;
	position: fixed;
	right: 10%;
	top:80%;
	background:transparent;
	border: 1px solid #28a745;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	.plus-button {
		font-size: 1.2rem;
		color: #fff;
		padding: 0px 0px 3px 0px;
	}
}
.empty-car {
	font-size: 1.4rem;
}
.wrapper-for-cars {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
}
.container div.row:first-child {
	font-size: 2.5rem;
	letter-spacing: 1px;
}