<div class="container-fluid">
	<div class="container">
			<div class="row">
		<div class="col-12 col-md-4 my-4 text-white">
			Witaj {{user}}
		</div>
		<div class="col-12 col-md-8 my-4">
			<button (click)="logout()" 
						style="margin-top: 12px;" 
						class="btn btn-outline-warning float-right">Wyloguj
			</button>
		</div>
	</div>
	</div>
</div>
<div class="container">
	<h2 class="text-center text-white pt-5 mb-3">{{h1_banner}}</h2>
	<div class="row">
		<p>{{cars.length}}</p>
		<div class="wrapper-for-cars" *ngIf="cars.length > 0;else emptyCars">
			<div class="col-12 col-md-4 mb-3 mt-3" *ngFor="let car of cars;let i = index">
				<app-single-car [id]="i" [car]="car" (event)="showMenu($event)"></app-single-car>
			</div>
		</div>
		<ng-template #emptyCars>
			<div class="col-12 mb-3 mt-3">
				<p class="text-center text-white empty-car">Brak samochodów do wyświetlenia</p>
			</div>
		</ng-template>	
		<div class="button-plus" (click)="showMenuForAdd()">
			<span class="plus-button">+</span>
		</div>
	</div>
</div>
