@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.cars-component {
	width: 100%;
	height:100%;
	min-height: 100vh;
	background:linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.7)), url("./assets/images/rent.jpg") center center no-repeat/cover;
}
.mat-dialog-container {
	background: rgb(255,255,255);

} 